@font-face {
  font-family: 'Lalezar-Regular';
  src: url(./Lalezar-Regular.eot);
  src: url(./Lalezar-Regular.eot?#iefix) format('embedded-opentype'),
       url(./Lalezar-Regular.otf) format('otf'),
       url(./Lalezar-Regular.svg#Lalezar-Regular) format('svg'),
       url(./Lalezar-Regular.ttf) format('truetype'),
       url(./Lalezar-Regular.woff) format('woff'),
       url(./Lalezar-Regular.woff2) format('woff2');
}
