@font-face {
  font-family: 'Lalezar-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/Lalezar-Regular.eot');
  src: url('Fonts/Lalezar-Regular.eot?#iefix') format('embedded-opentype'),
     url('Fonts/Lalezar-Regular.woff2') format('woff2'),
     url('Fonts/Lalezar-Regular.woff') format('woff'),
     url('Fonts/Lalezar-Regular.ttf') format('truetype');
     }
