$primary   : #4fa6cb;
$secondary : #5784a2;
$accent    : #51b8bf;

$dark      : #1d1d1d;
$dark-page : #2D2D2D;

$positive  : #5dba73;
$negative  : #C10015;
$info      : #70c9db;
$warning   : #a19758;

$typography-font-family: "Lalezar-Regular" !important !default;
